/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arr_down_name = 'arr-down';
$arr_down_x = 23px;
$arr_down_y = 24px;
$arr_down_offset_x = -23px;
$arr_down_offset_y = -24px;
$arr_down_width = 19px;
$arr_down_height = 10px;
$arr_down_total_width = 68px;
$arr_down_total_height = 60px;
$arr_down_image = '../img/sprite.png';
$arr_down = 23px 24px -23px -24px 19px 10px 68px 60px '../img/sprite.png' 'arr-down';
$arr_right_dark_name = 'arr-right-dark';
$arr_right_dark_x = 13px;
$arr_right_dark_y = 41px;
$arr_right_dark_offset_x = -13px;
$arr_right_dark_offset_y = -41px;
$arr_right_dark_width = 7px;
$arr_right_dark_height = 11px;
$arr_right_dark_total_width = 68px;
$arr_right_dark_total_height = 60px;
$arr_right_dark_image = '../img/sprite.png';
$arr_right_dark = 13px 41px -13px -41px 7px 11px 68px 60px '../img/sprite.png' 'arr-right-dark';
$arr_right_portfolio_name = 'arr-right-portfolio';
$arr_right_portfolio_x = 51px;
$arr_right_portfolio_y = 18px;
$arr_right_portfolio_offset_x = -51px;
$arr_right_portfolio_offset_y = -18px;
$arr_right_portfolio_width = 13px;
$arr_right_portfolio_height = 19px;
$arr_right_portfolio_total_width = 68px;
$arr_right_portfolio_total_height = 60px;
$arr_right_portfolio_image = '../img/sprite.png';
$arr_right_portfolio = 51px 18px -51px -18px 13px 19px 68px 60px '../img/sprite.png' 'arr-right-portfolio';
$arr_right_name = 'arr-right';
$arr_right_x = 0px;
$arr_right_y = 41px;
$arr_right_offset_x = 0px;
$arr_right_offset_y = -41px;
$arr_right_width = 13px;
$arr_right_height = 19px;
$arr_right_total_width = 68px;
$arr_right_total_height = 60px;
$arr_right_image = '../img/sprite.png';
$arr_right = 0px 41px 0px -41px 13px 19px 68px 60px '../img/sprite.png' 'arr-right';
$download_btn_name = 'download-btn';
$download_btn_x = 51px;
$download_btn_y = 0px;
$download_btn_offset_x = -51px;
$download_btn_offset_y = 0px;
$download_btn_width = 17px;
$download_btn_height = 18px;
$download_btn_total_width = 68px;
$download_btn_total_height = 60px;
$download_btn_image = '../img/sprite.png';
$download_btn = 51px 0px -51px 0px 17px 18px 68px 60px '../img/sprite.png' 'download-btn';
$email_name = 'email';
$email_x = 0px;
$email_y = 24px;
$email_offset_x = 0px;
$email_offset_y = -24px;
$email_width = 23px;
$email_height = 17px;
$email_total_width = 68px;
$email_total_height = 60px;
$email_image = '../img/sprite.png';
$email = 0px 24px 0px -24px 23px 17px 68px 60px '../img/sprite.png' 'email';
$ex_dark_left_name = 'ex-dark-left';
$ex_dark_left_x = 0px;
$ex_dark_left_y = 0px;
$ex_dark_left_offset_x = 0px;
$ex_dark_left_offset_y = 0px;
$ex_dark_left_width = 31px;
$ex_dark_left_height = 24px;
$ex_dark_left_total_width = 68px;
$ex_dark_left_total_height = 60px;
$ex_dark_left_image = '../img/sprite.png';
$ex_dark_left = 0px 0px 0px 0px 31px 24px 68px 60px '../img/sprite.png' 'ex-dark-left';
$phone_name = 'phone';
$phone_x = 31px;
$phone_y = 0px;
$phone_offset_x = -31px;
$phone_offset_y = 0px;
$phone_width = 20px;
$phone_height = 20px;
$phone_total_width = 68px;
$phone_total_height = 60px;
$phone_image = '../img/sprite.png';
$phone = 31px 0px -31px 0px 20px 20px 68px 60px '../img/sprite.png' 'phone';
$spritesheet_width = 68px;
$spritesheet_height = 60px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $arr_down $arr_right_dark $arr_right_portfolio $arr_right $download_btn $email $ex_dark_left $phone;
$spritesheet = 68px 60px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
