.digitals
	bg-cover(url(../img/content/digitals-bg.jpg))
	margin 60px 0
	padding 60px 0 120px
	
.digital
	display inline-block
	
.digital__item
	display inline-block
	box-sizing border-box
	margin-right 75px
	padding-top 65px
	width 160px
	height 160px
	border 6px solid #fff
	border-radius 100%
	text-align center
	color #fff
	font-size 42px
	font-weight 500
	line-height 26px
	position relative
	
	&:last-child
		margin-right 0
	
	&--txt
		position absolute
		bottom -70px
		left 50%
		min-width 225px
		transform translateX(-50%)
		font-size 24px
		font-weight 500
		
		
	