.header
	background-color nav-black
	box-sizing border-box
	padding 24px 0 19px
	color #fff
	
.logo__txt
	font-size 22px
	font-weight 500
	
.nav__link
	font-size 18px
	line-height 26px
	color #fff
	padding 9px 12px 8px 12px
	border 1px solid transparent
	
	&:hover
		border 1px solid #fff
		
@media (min-width 1200px)
	#handle
		display none
		

@media (max-width 1199px)

	.nav
		display none
		
		
		