.review
	padding 90px 0 100px
	
figure
	margin 0
	
.reviewer-img
	margin 0 auto
	width 98px
	
.reviewer-name
	@extend .team__member-name
	color #353535
	
.reviewer-bq
	font-style italic
	font-size 18px
	line-height 24px
	color #353535
	margin-left 50px
	margin-right 50px