gradient-line()
	content ""
	position absolute
	top 0
	left 0
	display block
	height 14px
	width 100%
	background: linear-gradient(135deg, #000000 0%,#000000 33%,#ffcd34 33%,#ffcd34 66%,#ffcd34 66%,#000000 66%,#000000 66%,#000000 100%)
	background-size 36px 15px

item-label(n)
	content n
	position absolute
	top 40px
	right 0
	transform-origin 100% 100%
	transform rotate(45deg)
	display inline-block
	width 105px
	padding 5px 0
	background-color #00c22e
	text-align center
	color #fff
	font-weight 700
	font-size 18px
