h2-after()
	content ''
	width 62px
	height 6px
	background-color h2-after-color
	position absolute
	bottom -20px
	left 0
	
h2-after-center()
	content ''
	width 62px
	height 6px
	background-color h2-after-color
	position absolute
	bottom -20px
	left 50%
	transform translateX(-50%)

bg-cover(path)
	background no-repeat 50% 50%
	background-image path
	background-size cover