/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$address_email_name = 'address-email';
$address_email_x = 185px;
$address_email_y = 140px;
$address_email_offset_x = -185px;
$address_email_offset_y = -140px;
$address_email_width = 23px;
$address_email_height = 17px;
$address_email_total_width = 239px;
$address_email_total_height = 238px;
$address_email_image = '../img/sprite.png';
$address_email = 185px 140px -185px -140px 23px 17px 239px 238px '../img/sprite.png' 'address-email';
$address_fly_name = 'address-fly';
$address_fly_x = 157px;
$address_fly_y = 58px;
$address_fly_offset_x = -157px;
$address_fly_offset_y = -58px;
$address_fly_width = 41px;
$address_fly_height = 40px;
$address_fly_total_width = 239px;
$address_fly_total_height = 238px;
$address_fly_image = '../img/sprite.png';
$address_fly = 157px 58px -157px -58px 41px 40px 239px 238px '../img/sprite.png' 'address-fly';
$address_mark_name = 'address-mark';
$address_mark_x = 92px;
$address_mark_y = 50px;
$address_mark_offset_x = -92px;
$address_mark_offset_y = -50px;
$address_mark_width = 35px;
$address_mark_height = 50px;
$address_mark_total_width = 239px;
$address_mark_total_height = 238px;
$address_mark_image = '../img/sprite.png';
$address_mark = 92px 50px -92px -50px 35px 50px 239px 238px '../img/sprite.png' 'address-mark';
$adv_1_name = 'adv-1';
$adv_1_x = 44px;
$adv_1_y = 106px;
$adv_1_offset_x = -44px;
$adv_1_offset_y = -106px;
$adv_1_width = 72px;
$adv_1_height = 34px;
$adv_1_total_width = 239px;
$adv_1_total_height = 238px;
$adv_1_image = '../img/sprite.png';
$adv_1 = 44px 106px -44px -106px 72px 34px 239px 238px '../img/sprite.png' 'adv-1';
$adv_glasses_name = 'adv-glasses';
$adv_glasses_x = 116px;
$adv_glasses_y = 106px;
$adv_glasses_offset_x = -116px;
$adv_glasses_offset_y = -106px;
$adv_glasses_width = 75px;
$adv_glasses_height = 28px;
$adv_glasses_total_width = 239px;
$adv_glasses_total_height = 238px;
$adv_glasses_image = '../img/sprite.png';
$adv_glasses = 116px 106px -116px -106px 75px 28px 239px 238px '../img/sprite.png' 'adv-glasses';
$adv_photo_name = 'adv-photo';
$adv_photo_x = 92px;
$adv_photo_y = 0px;
$adv_photo_offset_x = -92px;
$adv_photo_offset_y = 0px;
$adv_photo_width = 65px;
$adv_photo_height = 50px;
$adv_photo_total_width = 239px;
$adv_photo_total_height = 238px;
$adv_photo_image = '../img/sprite.png';
$adv_photo = 92px 0px -92px 0px 65px 50px 239px 238px '../img/sprite.png' 'adv-photo';
$adv_thumbs_1_name = 'adv-thumbs-1';
$adv_thumbs_1_x = 157px;
$adv_thumbs_1_y = 0px;
$adv_thumbs_1_offset_x = -157px;
$adv_thumbs_1_offset_y = 0px;
$adv_thumbs_1_width = 56px;
$adv_thumbs_1_height = 58px;
$adv_thumbs_1_total_width = 239px;
$adv_thumbs_1_total_height = 238px;
$adv_thumbs_1_image = '../img/sprite.png';
$adv_thumbs_1 = 157px 0px -157px 0px 56px 58px 239px 238px '../img/sprite.png' 'adv-thumbs-1';
$advantage_bino_md_name = 'advantage--bino-md';
$advantage_bino_md_x = 83px;
$advantage_bino_md_y = 140px;
$advantage_bino_md_offset_x = -83px;
$advantage_bino_md_offset_y = -140px;
$advantage_bino_md_width = 49px;
$advantage_bino_md_height = 23px;
$advantage_bino_md_total_width = 239px;
$advantage_bino_md_total_height = 238px;
$advantage_bino_md_image = '../img/sprite.png';
$advantage_bino_md = 83px 140px -83px -140px 49px 23px 239px 238px '../img/sprite.png' 'advantage--bino-md';
$advantage_glasses_md_name = 'advantage--glasses-md';
$advantage_glasses_md_x = 72px;
$advantage_glasses_md_y = 171px;
$advantage_glasses_md_offset_x = -72px;
$advantage_glasses_md_offset_y = -171px;
$advantage_glasses_md_width = 52px;
$advantage_glasses_md_height = 19px;
$advantage_glasses_md_total_width = 239px;
$advantage_glasses_md_total_height = 238px;
$advantage_glasses_md_image = '../img/sprite.png';
$advantage_glasses_md = 72px 171px -72px -171px 52px 19px 239px 238px '../img/sprite.png' 'advantage--glasses-md';
$advantage_photo_md_name = 'advantage--photo-md';
$advantage_photo_md_x = 44px;
$advantage_photo_md_y = 140px;
$advantage_photo_md_offset_x = -44px;
$advantage_photo_md_offset_y = -140px;
$advantage_photo_md_width = 39px;
$advantage_photo_md_height = 30px;
$advantage_photo_md_total_width = 239px;
$advantage_photo_md_total_height = 238px;
$advantage_photo_md_image = '../img/sprite.png';
$advantage_photo_md = 44px 140px -44px -140px 39px 30px 239px 238px '../img/sprite.png' 'advantage--photo-md';
$advantage_thumbs_up_md_name = 'advantage--thumbs-up-md';
$advantage_thumbs_up_md_x = 0px;
$advantage_thumbs_up_md_y = 171px;
$advantage_thumbs_up_md_offset_x = 0px;
$advantage_thumbs_up_md_offset_y = -171px;
$advantage_thumbs_up_md_width = 37px;
$advantage_thumbs_up_md_height = 38px;
$advantage_thumbs_up_md_total_width = 239px;
$advantage_thumbs_up_md_total_height = 238px;
$advantage_thumbs_up_md_image = '../img/sprite.png';
$advantage_thumbs_up_md = 0px 171px 0px -171px 37px 38px 239px 238px '../img/sprite.png' 'advantage--thumbs-up-md';
$faq_arr_up_name = 'faq-arr-up';
$faq_arr_up_x = 198px;
$faq_arr_up_y = 58px;
$faq_arr_up_offset_x = -198px;
$faq_arr_up_offset_y = -58px;
$faq_arr_up_width = 10px;
$faq_arr_up_height = 9px;
$faq_arr_up_total_width = 239px;
$faq_arr_up_total_height = 238px;
$faq_arr_up_image = '../img/sprite.png';
$faq_arr_up = 198px 58px -198px -58px 10px 9px 239px 238px '../img/sprite.png' 'faq-arr-up';
$gallery_arr_left_name = 'gallery-arr-left';
$gallery_arr_left_x = 213px;
$gallery_arr_left_y = 86px;
$gallery_arr_left_offset_x = -213px;
$gallery_arr_left_offset_y = -86px;
$gallery_arr_left_width = 20px;
$gallery_arr_left_height = 34px;
$gallery_arr_left_total_width = 239px;
$gallery_arr_left_total_height = 238px;
$gallery_arr_left_image = '../img/sprite.png';
$gallery_arr_left = 213px 86px -213px -86px 20px 34px 239px 238px '../img/sprite.png' 'gallery-arr-left';
$gallery_arr_right_name = 'gallery-arr-right';
$gallery_arr_right_x = 213px;
$gallery_arr_right_y = 120px;
$gallery_arr_right_offset_x = -213px;
$gallery_arr_right_offset_y = -120px;
$gallery_arr_right_width = 20px;
$gallery_arr_right_height = 34px;
$gallery_arr_right_total_width = 239px;
$gallery_arr_right_total_height = 238px;
$gallery_arr_right_image = '../img/sprite.png';
$gallery_arr_right = 213px 120px -213px -120px 20px 34px 239px 238px '../img/sprite.png' 'gallery-arr-right';
$how_ball_name = 'how-ball';
$how_ball_x = 0px;
$how_ball_y = 106px;
$how_ball_offset_x = 0px;
$how_ball_offset_y = -106px;
$how_ball_width = 44px;
$how_ball_height = 65px;
$how_ball_total_width = 239px;
$how_ball_total_height = 238px;
$how_ball_image = '../img/sprite.png';
$how_ball = 0px 106px 0px -106px 44px 65px 239px 238px '../img/sprite.png' 'how-ball';
$nav_gamburger_name = 'nav-gamburger';
$nav_gamburger_x = 0px;
$nav_gamburger_y = 209px;
$nav_gamburger_offset_x = 0px;
$nav_gamburger_offset_y = -209px;
$nav_gamburger_width = 31px;
$nav_gamburger_height = 29px;
$nav_gamburger_total_width = 239px;
$nav_gamburger_total_height = 238px;
$nav_gamburger_image = '../img/sprite.png';
$nav_gamburger = 0px 209px 0px -209px 31px 29px 239px 238px '../img/sprite.png' 'nav-gamburger';
$promo_1_name = 'promo-1';
$promo_1_x = 213px;
$promo_1_y = 154px;
$promo_1_offset_x = -213px;
$promo_1_offset_y = -154px;
$promo_1_width = 18px;
$promo_1_height = 29px;
$promo_1_total_width = 239px;
$promo_1_total_height = 238px;
$promo_1_image = '../img/sprite.png';
$promo_1 = 213px 154px -213px -154px 18px 29px 239px 238px '../img/sprite.png' 'promo-1';
$review_arr_left_name = 'review-arr-left';
$review_arr_left_x = 127px;
$review_arr_left_y = 50px;
$review_arr_left_offset_x = -127px;
$review_arr_left_offset_y = -50px;
$review_arr_left_width = 26px;
$review_arr_left_height = 44px;
$review_arr_left_total_width = 239px;
$review_arr_left_total_height = 238px;
$review_arr_left_image = '../img/sprite.png';
$review_arr_left = 127px 50px -127px -50px 26px 44px 239px 238px '../img/sprite.png' 'review-arr-left';
$review_arr_right_name = 'review-arr-right';
$review_arr_right_x = 213px;
$review_arr_right_y = 0px;
$review_arr_right_offset_x = -213px;
$review_arr_right_offset_y = 0px;
$review_arr_right_width = 26px;
$review_arr_right_height = 44px;
$review_arr_right_total_width = 239px;
$review_arr_right_total_height = 238px;
$review_arr_right_image = '../img/sprite.png';
$review_arr_right = 213px 0px -213px 0px 26px 44px 239px 238px '../img/sprite.png' 'review-arr-right';
$shortly_1_name = 'shortly-1';
$shortly_1_x = 0px;
$shortly_1_y = 0px;
$shortly_1_offset_x = 0px;
$shortly_1_offset_y = 0px;
$shortly_1_width = 92px;
$shortly_1_height = 106px;
$shortly_1_total_width = 239px;
$shortly_1_total_height = 238px;
$shortly_1_image = '../img/sprite.png';
$shortly_1 = 0px 0px 0px 0px 92px 106px 239px 238px '../img/sprite.png' 'shortly-1';
$social_facebook_name = 'social-facebook';
$social_facebook_x = 213px;
$social_facebook_y = 183px;
$social_facebook_offset_x = -213px;
$social_facebook_offset_y = -183px;
$social_facebook_width = 22px;
$social_facebook_height = 23px;
$social_facebook_total_width = 239px;
$social_facebook_total_height = 238px;
$social_facebook_image = '../img/sprite.png';
$social_facebook = 213px 183px -213px -183px 22px 23px 239px 238px '../img/sprite.png' 'social-facebook';
$social_insta_name = 'social-insta';
$social_insta_x = 191px;
$social_insta_y = 106px;
$social_insta_offset_x = -191px;
$social_insta_offset_y = -106px;
$social_insta_width = 22px;
$social_insta_height = 23px;
$social_insta_total_width = 239px;
$social_insta_total_height = 238px;
$social_insta_image = '../img/sprite.png';
$social_insta = 191px 106px -191px -106px 22px 23px 239px 238px '../img/sprite.png' 'social-insta';
$social_vk_name = 'social-vk';
$social_vk_x = 31px;
$social_vk_y = 209px;
$social_vk_offset_x = -31px;
$social_vk_offset_y = -209px;
$social_vk_width = 22px;
$social_vk_height = 23px;
$social_vk_total_width = 239px;
$social_vk_total_height = 238px;
$social_vk_image = '../img/sprite.png';
$social_vk = 31px 209px -31px -209px 22px 23px 239px 238px '../img/sprite.png' 'social-vk';
$team_glasses_name = 'team-glasses';
$team_glasses_x = 132px;
$team_glasses_y = 140px;
$team_glasses_offset_x = -132px;
$team_glasses_offset_y = -140px;
$team_glasses_width = 53px;
$team_glasses_height = 20px;
$team_glasses_total_width = 239px;
$team_glasses_total_height = 238px;
$team_glasses_image = '../img/sprite.png';
$team_glasses = 132px 140px -132px -140px 53px 20px 239px 238px '../img/sprite.png' 'team-glasses';
$team_key_name = 'team-key';
$team_key_x = 37px;
$team_key_y = 171px;
$team_key_offset_x = -37px;
$team_key_offset_y = -171px;
$team_key_width = 35px;
$team_key_height = 35px;
$team_key_total_width = 239px;
$team_key_total_height = 238px;
$team_key_image = '../img/sprite.png';
$team_key = 37px 171px -37px -171px 35px 35px 239px 238px '../img/sprite.png' 'team-key';
$team_radio_name = 'team-radio';
$team_radio_x = 213px;
$team_radio_y = 44px;
$team_radio_offset_x = -213px;
$team_radio_offset_y = -44px;
$team_radio_width = 18px;
$team_radio_height = 42px;
$team_radio_total_width = 239px;
$team_radio_total_height = 238px;
$team_radio_image = '../img/sprite.png';
$team_radio = 213px 44px -213px -44px 18px 42px 239px 238px '../img/sprite.png' 'team-radio';
$spritesheet_width = 239px;
$spritesheet_height = 238px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $address_email $address_fly $address_mark $adv_1 $adv_glasses $adv_photo $adv_thumbs_1 $advantage_bino_md $advantage_glasses_md $advantage_photo_md $advantage_thumbs_up_md $faq_arr_up $gallery_arr_left $gallery_arr_right $how_ball $nav_gamburger $promo_1 $review_arr_left $review_arr_right $shortly_1 $social_facebook $social_insta $social_vk $team_glasses $team_key $team_radio;
$spritesheet = 239px 238px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
