doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Спецтех24 - аренда спецтехники Cat
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic')

	body
		header.stripe
			.container
				.row

					// Лого
					.col-3
						.logo(href='#')
							img.logo__img(src='img/logo.svg', alt='')
							span.logo__txt
								b Спецтех
								| 24

					// Главное меню
					.col-9
						nav.nav.pull-right
							ul
								li: a.nav__link.nav__link--active(href='index.html') О компании
								li: a.nav__link(href='catalog.html') Каталог
								li: a.nav__link(href='portfolio.html') Портфолио
								li: a.nav__link(href='contact.html') Контакты
								li: a.nav__link.nav__link--call(href='#') Заказать звонок

		main

			// Главный экран
			section.main-promo
				.container
					.main-promo__content
						span.main-promo__title Вместе мы справимся!
						h1.main-promo__description
							| Спецтех24 - это сеть 
							| пунктов аренды спецтехники Cat, оборудования и специализированных 
							| инструментов для выполнения большинства видов работ.
						a.btn.main-promo__btn(href='#') Перейти в каталог

			// заказ консультации
			section.call-promo
				.container
					h2.call-promo__title Закажите бесплатную консультацию по подбору подходящей техники
					form(action='')
						.call-promo__form-group
							.row
								.col-3
									input.input_sp(type='text', placeholder='Как вас зовут?')
								.col-3
									input(type='text', placeholder='Номер для связи')
								.col-3
									input(type='date', placeholder='Выберите дату')
								.col-3
									input.btn.call-promo__btn(type='submit' value='Заказать консультацию')

			// преимущества
			section.advantage
				.container
					.advantages
						.row

							.advantages__block.col-3
								img.advantages__img(src='img/advant1.svg', alt='Обслуживание')
								span.advantages__txt Техника проходит обязательное обслуживание перед каждым выездом

							.advantages__block.col-3
								img.advantages__img(src='img/advant2.svg', alt='Спец. сигналы')
								span.advantages__txt Все машины оборудованы спец. сигналами, для предупреждения аварий

							.advantages__block.col-3
								img.advantages__img(src='img/advant3.svg', alt='Ограждения')
								span.advantages__txt Привезем модные строительные ограждения к каждому заказу от 20&nbsp;000

							.advantages__block.col-3
								img.advantages__img(src='img/advant4.svg', alt='Операторы')
								span.advantages__txt С техникой приедут квалифицированные операторы и водители

			section.special

				// боковое меню
				.container
					.row
						.col-3
							.all-tech.pull-left
								h2.h2 Вся техника
								nav.all-tech-menu
									ul
										li: a.all-tech-menu-link(href='#') Гусеничные экскаваторы
										li: a.all-tech-menu-link(href='#') Колесные экскаваторы
										li: a.all-tech-menu-link(href='#') Мини-экскаваторы
										li: a.all-tech-menu-link(href='#') Автокраны
										li: a.all-tech-menu-link(href='#') Фронтальные погрузчики
										li: a.all-tech-menu-link(href='#') Навесное оборудование
										li: a.all-tech-menu-link(href='#') Дизельгенераторы

						// Прайс
						.col-9
							.offer.pull-left
								h2.h2 Спецпредложение

								table.table.table-striped.offer__table
									thead
										tr
											th Позиция для аренды
											th За смену
											th За неделю
											th За месяц
									tbody
										tr
											td Мини-экскаватор CAT
											td 5 000
											td 25 000
											td 60 000
										tr
											td Экскаватор VOLVO
											td 3 000
											td 15 000
											td 40 000
										tr
											td Грузовик VOLVO
											td 5 000
											td 25 000
											td 60 000
										tr
											td Мини-экскаватор CAT
											td 3 000
											td 15 000
											td 40 000

			// блок рекомендаций
			section.recommendation
				.container
					.row

						// цифры
						.col-4
							.facts.pull-left
								h2.h2.h2--light
									| Спецтех 
									span.no-fat в цифрах
								ul
									li
										strong.fact-digital 16 
										span.fact-txt Лет работы
									li
										strong.fact-digital 715 
										span.fact-txt Объектов построено
									li
										strong.fact-digital 108 
										span.fact-txt Единиц техники
									li
										strong.fact-digital 500+ 
										span.fact-txt Довольных клиентов

						// цитаты клиентов
						.col-8
							.clients-say.pull-right
								h2.h2.h2--light Нас рекомендуют клиенты

								.client
									img.clients-foto(src='img/client-photo-1.jpg', alt='')
									.clients-bq
										blockquote
											| Спецтех24 - это надежные партнеры нашей компании, которые всегда выполняют 
											| работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
										span.clients-cite Оля Вольт, Реал-Строй

								.client
									img.clients-foto(src='img/client-photo-2.jpg', alt='')
									.clients-bq
										blockquote
											| Все виды работ, предусмотренные договором, компания выполнила на высоком 
											| профессиональном уровне, качественно, в срок, в соответствии с требованиями. ООО "ТНН" рекомендует
										span.clients-cite Григорий безымянных, ТНН

			// карта
			.map
				script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=trkuNDYhKeu-aijNLpXyHW6pFVXsc6at&width=100%&height=500')
		
		footer
			.container
				.row

					// Лого
					.col-3
						a.logo.logo--footer(href='#')
							img.logo__img.logo__img--footer(src='img/logo__footer.svg', alt='')
							span.logo__txt.logo__txt--footer
								b Спецтех
								| 24

					// Главное меню
					.col-9
						nav.nav.pull-right
							ul
								li: a.nav__link.nav__link--footer(href='#') О компании
								li: a.nav__link.nav__link--footer(href='#') Каталог
								li: a.nav__link.nav__link--footer(href='#') Портфолио
								li: a.nav__link.nav__link--footer(href='#') Контакты
								li: a.nav__link.nav__link--footer.nav__link--call--footer(href='#') Заказать звонок

