.port-subheader
	background-image url(../img/cat-subheader.jpg)
	background-repeat no-repeat
	background-size cover
	padding-top 57px
	padding-bottom 45px
	position relative
	
	&:before
		gradient-line()

.port-subheader__title
	font-size 24px
	letter-spacing 10
	font-weight normal
	color #ffcd34
	width 15%
	margin 0

.port__nav
	width 85%

	ul
		padding-left 0
		margin 0
		text-align right

		li
			display inline-block

.port-nav__link
	font-size 16px
	letter-spacing 10
	margin-left 35px
	line-height 31px
	text-decoration underline
	color #fff
	box-sizing border-box
		
	&:active
		text-decoration none
	
.port__item
	padding 112px 0 150px 0
	position relative
	
	&:before
		content ''
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 10px
		background-color #000
	
.port__item--1
	background-image url(../img/portfolio-main-1.jpg)
	background-repeat no-repeat
	background-size cover
	
.port__item--2
	background-image url(../img/portfolio-main-2.jpg)
	background-repeat no-repeat
	background-size cover
	
.port__item--3
	background-image url(../img/portfolio-main-3.jpg)
	background-repeat no-repeat
	background-size cover


.item__description
	width 321px
	padding 30px 25px 30px 30px
	background-color #fff
	box-sizing border-box
	
	p
		font-size 14px
		line-height 20px
		margin-bottom 0
		color #202e3b

.description__title
	font-size 20px
	letter-spacing 10
	margin 0
	color #202e3b

.btn-description
	padding 10px 35px 10px 15px
	font-weight 700
	background-color #ffcd34
	margin-top 20px
	display inline-block
	color #202e3b
	position relative
	
	&:after
		content ''
		sprite($arr_right_portfolio)
		position absolute
		top 50%
		right 10px
		transform translateY(-50%)
		
	&:hover
		background-color #ffd966
		
	&:active
		background-color #f6bf16
