doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Спецтех24 - аренда спецтехники Cat
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic')

	body
		header.stripe
			.container
				.row

					// Лого
					.col-3
						a.logo(href='/index.html')
							img.logo__img(src='img/logo.svg', alt='')
							span.logo__txt
								b Спецтех
								| 24

					// Главное меню
					.col-9
						nav.nav.pull-right
							ul
								li: a.nav__link(href='index.html') О компании
								li: a.nav__link(href='catalog.html') Каталог
								li: a.nav__link(href='portfolio.html') Портфолио
								li: a.nav__link.nav__link--active(href='contact.html') Контакты
								li: a.nav__link.nav__link--call(href='#') Заказать звонок

		main
			// Заглавный блок
			section.contact-header
				.container
					.row
						.pull-left

							h1.h1.cont-subheader__title Контакты
							span.contact-header-txt Свяжитесь с нами и все будет хорошо

						a.cat-subheader__right__btn.cont-subheader__right__btn.pull-right(href='') Мне нужна консультация

			// Блок с картой и формой
			.contact-main
				.container
					.row
						.contact-map.col-8 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39132.57836499685!2d30.32776988241828!3d59.94701057662206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1444140516631" width="100%" height="425" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						.contact-info.col-4
							span.contact-phone +7 (812) 212 85 06
							span.contact-email rent@spezteh.ru
							span.contact-txt Заказать консультацию по подбору подходящей техники
							
							form(action='')
								.form-group
									input.form-group__item(type='text', placeholder='Имя')
									input.form-group__item(type='text', placeholder='Телефон для связи')
									textarea.form-group__item(placeholder='Описание задачи (можно примерное)')
									button.btn.btn-contact(type='submit') Получить консультацию

			// Отзывы
			section.reviews
				.container

					h2.reviews__title Отзывы

					.row

						.col-3
							figure.reviews-item
								.reviews-item-photo
									img(src='img/contact-face-1.jpg', alt='')
								figcaption
									blockquote
										| Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
									span.author Оля Молния

						.col-3
							figure.reviews-item
								.reviews-item-photo
									img(src='img/contact-face-2.jpg', alt='')
								figcaption
									blockquote
										| Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
									span.author Оля Молния

						.col-3
							figure.reviews-item
								.reviews-item-photo
									img(src='img/contact-face-3.jpg', alt='')
								figcaption
									blockquote
										| Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
									span.author Оля Молния

						.col-3
							figure.reviews-item
								.reviews-item-photo
									img(src='img/contact-face-4.jpg', alt='')
								figcaption
									blockquote
										| Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
									span.author Оля Молния
			
			footer
				.container
					.row

						// Лого
						.col-3
							a.logo.logo--footer(href='/index.html')
								img.logo__img.logo__img--footer(src='img/logo__footer.svg', alt='')
								span.logo__txt.logo__txt--footer
									b Спецтех
									| 24

						// Главное меню
						.col-9
							nav.nav.pull-right
								ul
									li: a.nav__link.nav__link--footer(href='#') О компании
									li: a.nav__link.nav__link--footer(href='#') Каталог
									li: a.nav__link.nav__link--footer(href='#') Портфолио
									li: a.nav__link.nav__link--footer(href='#') Контакты
									li: a.nav__link.nav__link--footer.nav__link--call--footer(href='#') Заказать звонок

